<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/home.css">
        
    </head>
    <body>
        <navbar>
            <div>
                <a href="/home">YelpCamp</a>
            </div>

            <ul>
                <% if(!currentUser){ %> 
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Sign up</a></li>
                <% }else{ %>
                        <li><a href="#">Signed in as <%= currentUser.username %></a></li>
                        <li><a href="/logout">Log out</a></li>
                        <% } %>
            </ul>
        </navbar>

        <section class="image">
            <h1>Bring Home a Story</h1>

            <div id="imgdiv">
                    <div class="search">
                        <input type="text" placeholder="  Search for campsites,tours and other recreation activities">
                        <button>Search</button>
                    </div>   
            </div>

        </section>

        <section class="design">
            
            <div class="details">
                <p id="head">Plan for Your Trip</p>
                <hr>
                <p class="inform">Access tools and resources to chart the course for your next getaway or dream vacation, manage your trip details,
                and enter for the chance to attend special events and excursions that ensure you get the most out of your Recreation.gov experience.</p>

            </div>

            <div class="photos">
                <div class="first">
                    <img class="img" src="https://img.freepik.com/free-photo/beautiful-landscape_8327-295.jpg?size=626&ext=jpg">
                </div>

                <div class="second">
                    <div class="second1">
                        <img class="img" src="">
                    </div>
                    <div class="second2">
                        <img class="img" src="">
                    </div>
                </div>

            </div>

        </section>

        <section class="stay">
            <div class="head">
                <h1>Stay in the know</h1>
                <hr>
                <p class="inform" style="text-align: center;margin-top: 20px;">Check here for the latest updates and access to Recreation.gov news, events, and contests.</p>
            </div>
            <div class="stay1">
                <div class="stay2" style="position: relative;left: 30px;">
                    <img src="/stylesheets/stay1.jpg">
                    <p style=" opacity: 0.75;text-transform: uppercase;font-size: 25px;margin-top: 15px;padding: 5px;">Recreation.gov Mobile App</p>
                    <p style="padding: 5px;font-size: 15px; letter-spacing: 1px;margin-top: 15px;">
                        Search thousands of campgrounds, check real-time availability, book your campsite, and access your reservation information 
                        from almost anywhere with the Recreation.gov Mobile App.
                    </p>
                    <a href="#" class="anch">Learn More <i class="fas fa-arrow-right fa-sm" style="margin-left: 5px;margin-top: 5px;"></i></a>
                </div>
                <div class="stay2">
                    <img src="/stylesheets/stay2.jpg">
                    <p style=" opacity: 0.75;text-transform: uppercase;font-size: 25px;margin-top: 15px;padding: 5px;">
                        Follow Us on Facebook
                    </p>
                    <p style="padding: 5px;font-size: 15px; letter-spacing: 1px;margin-top: 15px;">
                        Find inspiration and tips for your next trip, learn more about unique activities and locations across America,
                        and engage with a community of fellow Recreation.gov adventurers.
                    </p>
                    <a href="#" class="anch">Connect  <i class="fas fa-arrow-right fa-sm" style="margin-left: 5px;margin-top: 5px;"></i></a>
                </div>
                <div class="stay2" style="position: relative;right: 30px;">
                    <img src="/stylesheets/stay3.jpg">
                    <p style=" opacity: 0.75;text-transform: uppercase;font-size: 25px;margin-top: 15px;padding: 5px;">Share Your Stories</p>
                    <p style="padding: 5px;font-size: 15px; letter-spacing: 1px;margin-top: 15px;">
                        Did you take a memorable trip or adventure this year? We'd love to hear all about it! Whether it's a few sentences or
                        a short novel, we're interested in your stories and so are other visitors.
                    </p>
                    <a href="#" class="anch">Send My stories <i class="fas fa-arrow-right fa-sm" style="margin-left: 5px;margin-top: 5px;"></i></a>
                </div>
            </div>

        </section>

        <section class="end">

        </section>
        
    </body>
</html>