<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/home.css">
        
    </head>
    <body>
        <navbar>
            <div>
                <a href="/home">YelpCamp</a>
            </div>

            <ul>
                <% if(!currentUser){ %> 
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Sign up</a></li>
                <% }else{ %>
                <li><a href="#">Signed in as <%= currentUser.username %></a></li>
                <li><a href="/logout">Log out</a></li>
                <% } %>
                <li><a href="/home/add">Add a camp</a></li>
            </ul>
        </navbar>

        <section class="image">
            <h1>Bring Home a Story</h1>

            <div id="imgdiv">
                    <div class="search">
                        <input type="text" placeholder="  Search for campsites,tours and other recreation activities">
                        <button id="search">Search</button>
                    </div>   
            </div>

        </section>

        <section class="design">
            
            <div class="details">
                <p id="head">Plan for Your Trip</p>
                <hr>
                <p class="inform">Access tools and resources to chart the course for your next getaway or dream vacation, manage your trip details,
                and enter for the chance to attend special events and excursions that ensure you get the most out of your Recreation.gov experience.</p>

            </div>

            <div class="photos">
                <div class="first">
                    <h1 style="text-align: center; color: white;margin-top: 10px;">Interagency & Site-Specific Digital Passes</h1>
                    <hr style="margin-left: 60px;background-color: white;border: none;width: 80%;">
                    <p style="margin-top: 10px;font-size: medium;padding: 5px;opacity: 0.5;">Cover admission and / or amenity fees for federal lands, waterways, and monuments with annual or lifetime interagency passes that provide access to more 
                        than 2,000 federal recreation locations or site-specific digital passes and permits for multiple visits to your favorite spot.
                    </p>
                    <button style="background: transparent;border: 2px solid white;color: white;padding: 5px;font-size: 20px;margin-top: 10px;margin-left: 20px;">Learn More</button>
                </div>

                <div class="second">
                    <div class="second1">
                        <h1 style="color: white;margin-top: 5px;margin-left: 10px;">Trip Builder</h1>
                        <hr style="background-color: white;border: none;margin-left: 10px;">
                        <p style="margin-top: 3px;padding: 5px;">Plan your vacation with trip builder! Our travel planning tool helps you map out your ideal trip, organize all the details, and book your next memorable adventure – all in one convenient place.</p>
                        <button style="border: 2px solid white;background: transparent;color: white;font-size: 15px;padding: 5px;margin-top: 70px;margin-left: 250px;">Learn More</button>
                    </div>
                    <div class="second2">
                        <h1 style="text-align: center;">Open & Upcoming Lotteries</h1>
                        <hr style="background-color: black;border: none;margin-left: 225px;width: 150px;">
                        <p style="padding: 5px;color: white;">Learn more about upcoming opportunities and apply for limited-entry permits and tickets that help ensure equal access and enhance visitor experience for popular events, excursions, and recreation destinations.</p>
                        <button style="background: transparent;border: 2px solid white;color: white;padding: 5px;font-size: 15px;margin-left: 5px;">Learn More</button>
                    </div>
                </div>

            </div>

        </section>

        <section class="stay">
            <div class="head">
                <h1>Stay in the know</h1>
                <hr>
                <p class="inform" style="text-align: center;margin-top: 20px;">Check here for the latest updates and access to Recreation.gov news, events, and contests.</p>
            </div>
            <div class="stay1">
                <div class="stay2" style="position: relative;left: 30px;">
                    <img src="/stylesheets/images/stay1.jpg">
                    <p style=" opacity: 0.75;text-transform: uppercase;font-size: 25px;margin-top: 15px;padding: 5px;">Recreation.gov Mobile App</p>
                    <p style="padding: 5px;font-size: 15px; letter-spacing: 1px;margin-top: 15px;">
                        Search thousands of campgrounds, check real-time availability, book your campsite, and access your reservation information 
                        from almost anywhere with the Recreation.gov Mobile App.
                    </p>
                    <a href="#" class="anch">Learn More <i class="fas fa-arrow-right fa-sm" style="margin-left: 5px;margin-top: 5px;"></i></a>
                </div>
                <div class="stay2">
                    <img src="/stylesheets/images/stay2.jpg">
                    <p style=" opacity: 0.75;text-transform: uppercase;font-size: 25px;margin-top: 15px;padding: 5px;">
                        Follow Us on Facebook
                    </p>
                    <p style="padding: 5px;font-size: 15px; letter-spacing: 1px;margin-top: 15px;">
                        Find inspiration and tips for your next trip, learn more about unique activities and locations across America,
                        and engage with a community of fellow Recreation.gov adventurers.
                    </p>
                    <a href="#" class="anch">Connect  <i class="fas fa-arrow-right fa-sm" style="margin-left: 5px;margin-top: 5px;"></i></a>
                </div>
                <div class="stay2" style="position: relative;right: 30px;">
                    <img src="/stylesheets/images/stay3.jpg">
                    <p style=" opacity: 0.75;text-transform: uppercase;font-size: 25px;margin-top: 15px;padding: 5px;">Share Your Stories</p>
                    <p style="padding: 5px;font-size: 15px; letter-spacing: 1px;margin-top: 15px;">
                        Did you take a memorable trip or adventure this year? We'd love to hear all about it! Whether it's a few sentences or
                        a short novel, we're interested in your stories and so are other visitors.
                    </p>
                    <a href="#" class="anch">Send My stories <i class="fas fa-arrow-right fa-sm" style="margin-left: 5px;margin-top: 5px;"></i></a>
                </div>
            </div>

        </section>

        <section class="inspire">

            <div class="inspire-head">
                <h1>Find inpiration and information</h1>
                <hr>
                <p>
                    Our library of travel guides, tips and recommendations, insider insights and visitor stories provides inspiration 
                    and information <br>to help you plan your next adventure.
                </p>

            </div>
            <div class="inspire-img">
                <div id="inspire-img1">
                    <img src="/stylesheets/images/mount.jpg">
                </div>
                <div class="inspire-imgmul">
                    <div id="inspire-imgmul1">
                        <img src="/stylesheets/images/rocky.jpg">
                    </div>
                    <div id="inspire-imgmul2">
                        <img src="/stylesheets/images/paria.jpg">
                    </div>
                    <div id="inspire-imgmul3">
                        <img src="/stylesheets/images/outdoor.jpg">
                    </div>
                </div>

            </div>
            <div style="display: flex;">
                <hr style="width: 85%;height: 0.5px;background-color:black;margin-left: 45px;opacity: 0.5;">
                <span style="margin-top: 5px;margin-left: 3px;font-size: 15px;color: royalblue;letter-spacing: 2px;font-weight: 500;">Explore More<i class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>
            </div>
            

        </section>

        <section class="user">
            <h1>Campground Uploaded By Users</h1>
            <hr style="width: 150px;background-color: red;border: none;">
            <% campground.forEach(function(camp){ %>
            <div class="each">
                <h2><%= camp.name %></h2>
                <img src="<%= camp.imageurl %>">
                <p><a href="/home/show/<%= camp.id %>">For more info</a></p>
            </div>
            <% }) %>

        </section>

        <section class="end">
            <div class="end1">
                <div style="background-color: #cf7500;width: 20%;"></div>
                <div style="background-color: #efee9d;width: 20%;"></div>
                <div style="background-color: #0c9463;width: 20%;"></div>
                <div style="background-color: #46b3e6;width: 20%;"></div>
                <div style="background-color: #dff6f0;width: 20%;"></div>
            </div>
            <div class="end2">
                <div class="end21">
                    <div style="width: 40%;padding: 50px;">
                        <h1>Bring Home a Story!</h1>
                        <p style="opacity: 0.5;">Recreation.gov is your gateway to explore America's outdoor and cultural destinations in your zip code and across the country. We provide tools and tips to discover new adventures through a one-stop shop for inspiration and ideation, trip planning, 
                            information sharing, and reservations. Find incredible places and experiences that help you bring home a story through Recreation.gov!
                        </p>
                    </div>
                    <div style="width: 15%;
                    padding: 50px;">
                        <h1>Get to Know Us</h1>
                        <ul>
                            <li>About Us</li>
                            <li>Rules & Reservation Policies</li>
                            <li>Accessibility</li>
                            <li>Media Center</li>
                            <li>Site Map</li>
                        </ul>
                    </div>
                    <div style="width: 15%;padding: 50px;">
                        <h1>Plan with Us</h1>
                        <ul>
                            <li>Find Trip Inspiration</li>
                            <li>Build a Trip</li>
                            <li>Buy a Pass</li>
                            <li>Enter a Lottery</li>
                        </ul>
                    </div>
                    <div style="width: 15%;padding: 50px;">
                        <h1>Join Us</h1>
                        <ul>
                            <li>Get Involved</li>
                            <li>Use Our Data</li>
                            <li>Add Your Facility</li>
                        </ul>
                    </div>
                    <div style="width: 15%;padding: 50px;">
                        <h1>Let Us Help You</h1>
                        <ul>
                            <li>Your Account</li>
                            <li>Your Reservations</li>
                            <li>Contact Us</li>
                            <li>Help Center</li>
                            <li>Submit Feedback</li>
                        </ul>
                    </div>
                </div>
                <div class="end22">
                    <i class="fas fa-campground fa-3x" style="color: rgb(226, 226, 226);"></i>
                    <i class="far fa-compass fa-3x" style="color:grey;"></i>
                    <i class="fas fa-map fa-3x" style="color:rgb(226, 226, 226);"></i>
                    <i class="fas fa-thumbtack fa-3x" style="color:grey;"></i>
                    <i class="fas fa-tree fa-3x" style="color:rgb(226, 226, 226);"></i>
                    <i class="fas fa-mountain fa-3x" style="color:grey;"></i>
                    <i class="fab fa-affiliatetheme fa-3x" style="color:rgb(226, 226, 226);"></i>
                    <i class="fab fa-freebsd fa-3x" style="color:grey;"></i>
                    <i class="fas fa-holly-berry fa-3x" style="color: rgb(226, 226, 226);"></i>
                    <i class="fas fa-feather-alt fa-3x" style="color:grey;"></i>
                </div>
                <div class="end23">
                    <i style="margin-top: 20px;margin-left: 10px;" class="far fa-copyright"></i>
                    <p style="margin-top: 20px;">2020 YelpCamp.All rights are Reserved</p>
                </div>
            </div>

        </section>
        
    </body>
</html>