<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Landing</title>
        <link rel="icon" href="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./stylesheets/landing.css">
    </head>
    <body>
        <div class="details">
            <p>Welcome to Campground</p>
            <a href="/home"><button>View Campgounds</button></a>
        </div>



    </body>
</html>