<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Landing</title>
        <link rel="icon" href="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
        <link rel="stylesheet" href="./stylesheets/landing.css">
    </head>
    <body>
        <div class="details">
            <p style="z-index: 1;">Welcome to Campground</p>
            <a href="/home"><button class="viewbtn">View Campgounds</button></a>
        </div>

        <div class="background">
            <div class="backimg" id="backimg1"><img src="./stylesheets/images/land1.jpg"></div>
            <div class="backimg" id="backimg2"><img src="./stylesheets/images/land2.jpg"></div>
            <button id="check"><i class="fas fa-arrow-right fa-2x" style="color: white;z-index: 1;"></i></button>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineLite.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/CSSPlugin.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js"></script>
        <script src="./javascripts/app.js"></script>
    </body>
</html>