<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Campground</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/show.css">
    </head>
    <body>

        <navbar>
            <div>
                <a href="/home">YelpCamp</a>
            </div>

            <ul>
                <% if(!currentUser){ %> 
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Sign up</a></li>
                <% }else{ %>
                <li><a href="#">Signed in as <%= currentUser.username %></a></li>
                <li><a href="/logout">Log out</a></li>
                <% } %>
                <li><a href="/home/add">Add a camp</a></li>
            </ul>
        </navbar>


        <div class="show">
            <div class="sidebar">
                <ul>
                    <li>Price</li>
                    <li>Description</li>
                    <li>reviews</li>
                    <li>More Images</li>
                </ul>
            </div>
            <div class="details">
                <% campground.forEach(function(campground){ %>
                <h1><%= campground.name %></h1>
                <img src="<%= campground.imageurl %>">
                <% }) %>
            </div>
        </div>


        



    </body>
</html>