*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    z-index: 1;
    justify-content: space-between;
    background-color: white;
    border-bottom: 0.5px solid grey;
    box-shadow: 2px 2px 2px rgba(226, 226, 226, 0.3);
}

navbar div{
    padding: 20px;
}

navbar div a{
    text-decoration: none;
    font-size: 25px;
}

navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

navbar ul li{
    display: flex;
    padding: 20px;
}

navbar ul li a{
    text-decoration: none;
    color: #1b6ca8;
    font-size: 20px;
}

/* image area */

.image{
    width: 100%;
    background-image: url(/stylesheets/images/camp.jpg);
    background-repeat: no-repeat;
    background-size: 100% 60vh;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    top: 80px;
}

#search:hover{
    background-color: #2e6b8c;
}

.image h1{
    font-size: 60px;
    color: rgb(226, 226, 226);
    text-transform: uppercase;
}

#imgdiv{
    border: 20px solid rgba(226, 226, 226, 0.3);
    width: 70%;
    height: 100px;
    position: relative;
    top: 60px;
}


.search{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
}

.search input{
    display: flex;
    flex-basis: 85%;
    border: none;
    font-size: 20px;
}

.search button{
    display: flex;
    flex-basis: 16%;
    justify-content: center;
    align-items: center;
    background-color: #2e6b9f;
    border: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}


/* design */

.design{
    position: relative;
    width: 100%;
    height: 120vh;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    
}



.details{
    display: flex;
    flex-direction: column;
    align-items: center;
}



#head{
    font-size: 35px;
    letter-spacing: 2px;
    padding: 10px;
    margin-top: 50px;
}


hr{
    width: 80px;
    margin-top: 15px;
    background-color: #2b580c;
    height: 2px;
}

.inform{
    font-size: 19px;
    padding: 10px;
    width: 90%;
    margin-top: 30px;
    opacity: 0.7;
}


.photos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.first{
    width: 40%;
    height: 80%;
    border: none;
    position: relative;
    top: 10%;
    background-color: #1b6ca8;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
    background-image: url(/stylesheets/images/mountain.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

.second{
    width: 40%;
    height: 80%;
    border: none;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second1{
    width: 100%;
    height: 45%;
    border: none;
    background-color: #1b6ca8;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1); 
    background-image: url(/stylesheets/images/back1.jpg);
    background-size: 100% 100%;
}

.second2{
    width: 100%;
    height: 45%;
    border: none;
    background-color: #1b6ca8;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
    background-image: url(/stylesheets/images/back2.jpg);
    background-size: 100% 100%;
}

button:hover{
    cursor: pointer;
    
}

.imgbtn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

/* .img{
    width: 100%;
    height: 100%;
    
}

.img:hover{
    cursor: pointer;
    padding: 2px;
    opacity: 0.35;
    filter: grayscale(50);
} */

/* stay */

.stay{
    width: 100%;
    height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
}


.head{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    position: relative;
    top: 40px;
}

h1{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
}


.stay1{
    width: 100%;
    height: 80%;
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.stay2{
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.stay2 img{
    width: 100%;
    height: 50%;
}


.anch{
    text-decoration: none;
    font-size: 17px;
    margin-top: 45px;
    color: #1b6ca8;

}
/* inspire */

.inspire{
    width: 100%;
    height: 130vh;
}

.inspire-head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 40px;
}

.inspire-head h1{
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.inspire-head p{
    padding: 10px;
    margin-top: 30px;
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
}

.inspire-img{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


#inspire-img1{
    width: 65%;
    height: 90%;
    z-index: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
}


#inspire-imgname{
    z-index: 1;
    position: relative;
    top: -21.7%;
    width: 400px;
    height: 140px;
    background-color: rgba(226, 226, 226, 0.7);
}

#inspire-imgname p{
    margin-left: 30px;
    font-size: 25px;
    padding: 20px;
}

#inspire-img1{
    overflow: hidden;
}

#inspire-img1 img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

#inspire-img1 img:hover{
    transform: scale(1.2);
}

.inspire-imgmul{
    width: 23%;
    height: 90%;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

#inspire-imgmul1{
    height: 31%;
    box-shadow: 1px 1px 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
    overflow: hidden;
}

#inspire-imgmul1name{
    z-index: 1;
    position: relative;
    top: -30.7%;
    width: 80%;
    height: 60px;
    background-color: rgba(226, 226, 226, 0.7);
}

#inspire-imgmul1name p{
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
}

#inspire-imgmul2{
    height: 31%;
    box-shadow: 1px 1px 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
    overflow: hidden;
    margin-top: 20px;
}

#inspire-imgmul3{
    height: 31%;
    box-shadow: 1px 1px 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
    margin-top: 20px;
    overflow: hidden;
}


#inspire-imgmul1 img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

#inspire-imgmul2 img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

#inspire-imgmul3 img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

#inspire-imgmul1 img:hover{
    transform: scale(1.2);
}

#inspire-imgmul2 img:hover{
    transform: scale(1.2);
}

#inspire-imgmul3 img:hover{
    transform: scale(1.2);
}


/* user */

.user{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.user h1{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.each{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
}

.each h2{
    text-transform: capitalize;
    padding: 5px;
    text-align: center;
}

.each img{
    width: 100%;
    padding: 5px;
    height: 375px;
}

.each a{
    font-size: 18px;
    text-transform: capitalize;
    padding: 5px;
    margin-left: 90px;
}




/* bottom */

.end{
    margin-top: 30px;
    width: 100%;
    height: 65vh;
    background-color: #1b2a49;
    display: flex;
    flex-direction: column;
}

.end1{
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    
}

.end2{
    width: 100%;
    height: 65%;
    border: 1px solid;
    
    
}

.end21{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: white;
}


.end21 ul{
    list-style: none;
}

.end21 h1{
    font-size: 25px;
    font-weight: 500;
}

.end21 ul li{
    padding: 3px;
    font-size: 13px;
    opacity: 0.5;
}

.end22{
    width: 100%;
    height: 30%;
    background-color: #465881;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.end23{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    letter-spacing: 1px;
    font-size: 13px;
}

